body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
h1,h2,h3{
	font-weight: 100 !important;
}
h4 {
	font-weight: 200 !important;
}
h5 {
	font-weight: 200 !important;
}
main {
	flex: 1 0 auto;
}
.page-footer{
	background: #455a64 !important;
	color: #cfd8dc !important;
	padding-top:  0 !important;
}
.page-menu{
	text-align: center;
}
footer .row {
	margin-bottom: 0 !important;
}
footer .col {
	padding: 1em;
}
.main-content{
	height: 80vh;
	line-height: 80vh;
	text-align: center;
}
@font-face {
	font-family: "Farray";
	src: url(../fonts/FARRAY.otf);
}
.middle-wrapper {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.name {
	font-family: Farray;
	font-size: 4.5em;
}
.links {
	display: flex
}
.links .ic {
	flex: 1;
}
.links a {
	color: white !important;
}
.welcome {
	font-family: 'Josefin Sans';
	font-size: 1.1em;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 1.5;
}
.row > .menu {
	display: flex;
}
.menu div{
	flex: 1;
	text-transform: uppercase;
}
.menu div a{
	font-family: "Josefin Sans";
	font-size: 1.2em;
	color: darkslategrey !important;
	font-weight: 900;
	letter-spacing: 0.1em;
}
.menu div a:hover{
	border-bottom: 1px dotted black;
	padding-bottom: 0.2em;
	color: black !important;
}
.page-container {
	margin-top: 3em !important;
}
.stTitle{
 font-family: "Josefin Sans";
 font-size: 3em;
 color: darkslategrey !important;
 font-weight: 600;
 letter-spacing: 0.1em;
 text-transform: uppercase;
}
.stories-caption {
 text-align: center;
 font-family: "Neucha";
 letter-spacing: 0.1em;
 margin-bottom: 4em;
}
.postLink{
 font-size: 2em;
 color: black;
 font-weight: 200;
 margin-top: 2em;
 border-bottom: 1px dotted black;
 padding-bottom: 0.1em;
}
.postLink:hover{
	 color: cadetblue;
}
.postContent{
	margin-top: 2em !important
}
.dateAndStuff {
 text-align: center;
 font-family: "Neucha";
 letter-spacing: 0.1em;
 margin-top: 1em !important;
}
