<h3 class="light">
    Hello there! I'm <strong>Hemang Kumar</strong>, <br />
    a software developer building applications for web and mobile.
</h3>

<h5 class="light">
    This is where I post about topics which I find interesting,<br />
    and do some casual journaling!
</h5>

<h5 class="light">
    Little bit more about me - I love to go cycling, baking pizza (hence the
    cycling), learning dataviz and calligraphy from time to time.
</h5>

<h5 class="light">
    Hit me up if you wish to chat or would like to create something awesome
    together! Here's my email: hemangsk@gmail.com
</h5>
