<footer class="page-footer">
  <div class="row">
    <div class="col m3 s12" style="background: #37424b; padding: 1em;">
      <div class="content-sidebar">What's New!</div>
    </div>
    <div class="col m9 s12" style="background: #303c42; padding: 1em;">
      <div class="content">Intern with <a href="https://github.com/HindustanTimesLabs">News Apps &amp; Interactives Team at Hindustan Times</a> during Winter 2017-18.</div>

      <!-- <div class="content">Working with <a href="http://coala.io">coala</a> during Google Summer of Code 2017.</div> -->
    </div>
  </div>
  <div class="row">
    <div class="content-copyright col m12" style="padding: 1em;">
      Crafted by HEMANG
    </div>
  </div>
</footer>
<style type="text/css">
  .content-copyright{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-align: center;
    color: lightslategrey;
  }
  .content-sidebar {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-align: center;
    color: lightslategrey;
  }
  footer .content{
    text-align: center;
    font-family: "Neucha";
    letter-spacing: 0.1em;
  }
</style>
