<div class="row">
   <div class="menu center-block">
   {% assign sorted_pages = site.pages | sort: 'order' %}
   {% for p in sorted_pages %}
   {% if p.menu %}
      <div class="page-menu">
      {% if p.permalink %}
         {% if p.title == "About" %}
            <a href="https://github.com/hemangsk/hemangsk.github.io/blob/master/Resume_-_Hemang_Kumar.pdf">{{p.title}}</a>
         
         {% else %}
         <a href="/{{ p.permalink }}.html">{{p.title}}</a>
         {% endif %}
      {% else %}
         <a href="/">{{p.title}}</a>
      {% endif %}   
      </div>
   {% endif %}
   {% endfor %}
   </div>
</div>
