.container {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
        ". header ."
        ". main ."
        "open-source . experience";
}

header {
    grid-area: header;
}

.main {
    grid-area: main;
}

experience {
    grid-area: experience;
}

open-source {
    grid-area: open-source;
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid;

        grid-template-columns: repeat(minmax(0, 1fr));
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "main";
    }
}
