---
layout: page_default
---

<section id="story-title center center-block">


<div class="row">
{% if page.alias == "projects" %}
{% for project in site.data.projects %}
<div class="col m12 s12">
  <div class="card project-card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ project.image }}">
    </div>
    <div class="card-content">
      <span class="card-title">{{project.title}}</span>
      <p>{{project.desc}}</p>
    </div>
    <div class="card-action center">
      <a class="btn waves-effect white black-text" target="_blank"
      href="{{project.project_url}}">View</a>
    </div>
    </div>
</div>
{%  endfor %}
</div>
{% else %}


{% for post in site.posts%}
{% for category in post.categories %}
{% if category == page.alias %}


<div class="post postContent">
  <div class="postTitle center">
  <a class='postLink' href="{{post.url}}">{{post.title}}</a>
  </div>
  <center class="postType">{{post.project_type}}</center>

  <div class="container dateAndStuff">
    <div class="row">
        Posted on
       <span class="posted-on">

         {{ post.date | date: "%A, %B %-d, %Y" }}
       </span>
       <span class="in">
         in
       </span>
       <span class="categories-on">
         {% for category in post.categories%}
         <span class="chip">{{category}}</span>
         {% endfor %}
       </span>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endfor %}
<br><br>
{% endif %}
